
/// SloganRandomizer module ///

@import '../../stylesheets/config/colors';
@import '../../stylesheets/config/breakpoints';

.container {
    text-align: center;

    @media screen and (max-width: $mobile-medium){
        transform: scale(0.8);
    }

    h2 {
        font-weight: normal;
        color: $emphasis;
    }

    h3 {
        font-weight: normal;
        margin-top: -10px;
    }
}