
/// Search module ///


.main {
    .searchForm {
        display: grid;
        grid-template-rows: 1fr 1fr 12px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "kwd kwd kwd ath ath tgs"
            "dt1 dt2 lvl lvl . sbt"
            "div div div div div div";

        width: 70%;
        margin: 25px;

        .labeledInput {
            display: flex;
            flex-direction: column;
            margin: 0 0 10px 15px;
    
            label {
                margin-left: 13px;
                margin-bottom: 3px;
            }
        }

        .kwd { grid-area: kwd; }

        .ath { grid-area: ath; }

        .dt1 { grid-area: dt1; }

        .dt2 { grid-area: dt2; }

        .tgs { grid-area: tgs; }

        .lvl { grid-area: lvl; }

        input[type=submit] {
            align-self: end;
            justify-self: end;
            grid-area: sbt;
        }

        .radioButtons {
            display: flex;
            flex-direction: row;

            span {
                font-size: 14rem;
                user-select: none;
                margin: 0 5px 0 3px;
            }
        }

        .divider {
            grid-area: div;
            align-self: end;

            width: 100%;
            height: 2px;
            background-color: lightgray;
        }
    }
}