
/// PostPreview Module ///

@import '../../stylesheets/global.scss';

.container {
    position: relative;

    width: 275px;
    height: 300px;
    margin: 20px;

    background-color: $emphasis;
    box-shadow: 0px 0px 32px -8px rgba(0, 0, 0, 0.75);

    text-align: center;
    vertical-align: center;

    &:hover {
        cursor: pointer;
    }

    .previewImage {
        position: absolute;
        left: 0;
        top: 10px;
        width: inherit;
    }

    .contents {
        position: absolute;
        bottom: 0;
        padding-top: 20px;
        width: inherit;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        background-image: linear-gradient(0deg, white 65%, transparent 100%);
        color: black;

        .summary {

            max-height: 120px;
            overflow: hidden;

            transition: all 0.2s;

            &:hover {
                max-height: 250px;
                overflow-y: scroll;
            }

            h2 {
                margin: 10px 5px;
                color: black;
                font-size: 18rem;
            }
            p {
                margin: 0 20px;
                font-size: 16rem;
            }
        }

        .bottomBar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            height: 50px;
            padding: 0 10px;

            background-color: white;
            box-shadow: 0px 0px 32px -8px rgba(0,0,0,0.75);
            transform: scale(1.05);

            .tags {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            .date {
                color: gray;
                font-size: 16px;
            }
        }

    }
}

