@import '../../stylesheets/global.scss';

.container {
    position: relative;
    height: 50px;
    margin-top: 10px;

    &:hover {
        .tooltip {
            display: block;
        }
    }

    .tooltip {
        background-color: black;
        color: white;
        display: none;
        margin: 0;
    }
}