
/// TagIcon Module ///

@import '../../stylesheets/global.scss';

.container {
    position: relative;
    height: 20px;

    &:hover {
        [class*=tooltip] {
            display: block;
            margin-top: 5px;
        }
    }
    
}