
/// TagIcon Module ///

@import '../../stylesheets/config/colors';

.container {
    position: relative;
    height: 20px;

    &:hover {
        [class*=tooltip] {
            display: block;
            margin-top: 5px;
        }
    }

    .letterTag {
        width: 20px;
        height: 20px;

        background-color: $emphasis;
        color: white;
        border-radius: 90px;

        font-size: 18rem;
    }
    
}