
/// IconLink module ///

@import '../../stylesheets/config/colors';
@import '../../stylesheets/config/breakpoints';

.container {

    display: flex;
    flex-direction: row;
    text-align: center;
    
    svg {
        fill: $emphasis;
        width: 45rem;

        @media screen and (max-width: $mobile-large) {
            width: 30rem;;
        }
    }

    .innerContainer {
    
        display: flex;
        flex-direction: column;
        align-items: center;
    
        span {
            color: $emphasis;
            font-size: 16rem;

            @media screen and (max-width: $mobile-large) {
                font-size: 12rem;
            }
        }
    }
}
