// #region generic
$emphasis: #2C97DD;
$body-text: black;
$background: #F4F0F0;
// #endregion

// #region code
$comment: #75BC42;
$variable: #BC4242;
$keyword: blue;
$code-text: black;
$code-background: #FFF6EE;
// #endregion
