
/// Shapes ///

%shape {
    width: 0;
    height: 0;
}

// #region triangles

@mixin triangle-base ($height, $color) {
    @extend %shape;
    border-bottom: $height solid $color;
}

@mixin triangle-left ($width, $height, $color) {
    @include triangle-base($height, $color);
    border-right: $width solid transparent; 
}

@mixin triangle-right ($width, $height, $color) {
    @include triangle-base($height, $color);
    border-left: $width solid transparent;
}

// #endregion
