
/// Typography ///

@import url('https://fonts.googleapis.com/css?family=PT+Mono|PT+Sans|PT+Sans+Caption&display=swap');

html {
    // for using REM units, changes with accessibility features
    font-size: 1px; 
}

h1 {
    font-size: 48rem;
    line-height: 120%;
    font-family: 'PT Sans Caption', sans-serif;
}

h2 {
    font-size: 24rem;
    line-height: 120%;
    font-family: 'PT Sans Caption', sans-serif;
}

h3 {
    font-size: 16rem;
    line-height: 120%;
    font-family: 'PT Sans Caption', sans-serif;
}

p {
    font-size: 14rem;
    line-height: 150%;
    font-family: 'PT Sans', sans-serif;
}
